section article.threeImg {
  display: flex;
  justify-content: space-between;
}
section article.threeImg a {
  width: 30%;
}
section article.threeImg a figure {
  margin: 0;
  position: relative;
  width: 100%;
}
section article.threeImg a figure img {
  width: 100%;
  height: 270px;
  max-height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(50%);
}
section article.threeImg a figure figcaption {
  font-size: 50px;
  color: #f4f4f4;
  margin: 0;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section article.gallery {
  height: 70vh;
  padding: 40px 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
}
section article.gallery img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section article.gallery #g1 {
  grid-area: 1/1/4/1;
}
section article.gallery #g2 {
  grid-area: 1/2/1/4;
}
section article.gallery #g3 {
  grid-area: 2/2/4/2;
}
section article.gallery #g4 {
  grid-area: 1/4/3/4;
}
section article.gallery #g5 {
  grid-area: 3/3/3/5;
}
@media screen and (max-width: 1140px) {
  section article.threeImg {
    flex-direction: column;
    align-items: center;
  }
  section article.threeImg a {
    width: 90vw;
  }
  section article.threeImg a img {
    margin: 10px 0;
    width: 100vw;
  }
  section article.gallery {
    height: auto;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 400px);
  }
  section article.gallery img {
    grid-area: auto !important;
  }
}
@media screen and (max-width: 800px) {
  section article.gallery {
    display: flex;
    flex-direction: column;
  }
  section article.gallery img {
    height: 300px;
  }
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form .left, form .right {
  width: 50%;
}
form textarea {
  max-width: 100%;
  width: 100%;
}

article.activity {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 10px;
}
article.activity .activity_img {
  grid-area: 1/1/3/2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
article.activity ul {
  padding: 0;
  list-style-type: none;
}
article.activity .activity_descr {
  border-radius: 5px;
  margin: 0;
  grid-column: 2/5;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
  background-color: #f4f4f4;
  color: #000;
  display: flex;
  flex-direction: row;
}
article.activity .activity_descr > li {
  width: 50%;
}
article.activity .activity_descr .descr_items {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
article.activity .activity_descr .descr_items h3 {
  font-size: 30px;
  margin: 0;
}
article.activity .activity_descr img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1200px) {
  article.activity {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
  }
  article.activity .activity_img {
    grid-area: 1/1/1/4 !important;
  }
  article.activity .activity_descr {
    grid-column: 1/4 !important;
  }
}
@media screen and (max-width: 900px) {
  article.activity {
    grid-template-rows: repeat(5, 320px);
  }
  article.activity .activity_descr {
    grid-row: span 2;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
  }
  article.activity .activity_descr li {
    width: 100%;
  }
  article.activity .activity_descr .descr_items {
    height: 300px;
  }
  article.activity .activity_descr img {
    height: 300px;
  }
}

.tiptitle {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tiptitle h2 {
  font-size: 40px;
  margin-right: 20px;
}
.tiptitle .icon {
  width: 80px;
  height: 80px;
}

article.tipArt {
  border-radius: 5px;
  padding: 10px 30px;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article.tipArt .tipdescr {
  width: 45%;
}
article.tipArt .tipdescr ol {
  margin-top: 40px;
  padding-left: 20px;
}
article.tipArt .tipdescr ol li {
  margin: 15px 0;
}
article.tipArt .tipdescr a {
  color: #f4f4f4;
}
article.tipArt .tipimg img {
  width: 45%;
}
@media screen and (max-width: 1400px) and (min-width: 1000px) {
  article.tipArt .tipdescr {
    width: 55%;
  }
  article.tipArt .tipimg {
    width: 40%;
    height: 70%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 1000px) {
  article.tipArt {
    flex-direction: column;
    height: auto;
  }
  article.tipArt .tipdescr {
    width: 100%;
  }
  article.tipArt .tipimg {
    width: 100%;
  }
}

body {
  background-color: #f4f4f4;
  font-family: sans-serif;
  padding: 0;
}

p, a {
  font-size: 20px;
}

img {
  border-radius: 2px;
}

h2 {
  font-size: 30px;
}

section {
  background-color: #1e355a;
  color: #f4f4f4;
  padding: 20px 200px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
section:nth-of-type(even) {
  background-color: #f4f4f4;
  color: #000;
}
section:nth-of-type(even) .activity .activity_img {
  grid-area: 1/3/3/4;
}
section:nth-of-type(even) .activity .activity_descr {
  grid-column: 1/3;
  background-color: #1e355a;
  color: #f4f4f4;
}
@media screen and (max-width: 1500px) and (min-width: 740px) {
  section {
    padding: 20px 100px;
  }
}
@media screen and (max-width: 740px) {
  section {
    padding: 20px 30px;
  }
}

article {
  width: 100%;
  max-width: 1600px !important;
  font-size: 20px;
}

footer section {
  min-height: 0;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer section article {
  width: 300px;
}
footer section article h2 {
  padding-bottom: 10px;
  border-bottom: 2px solid #f4f4f4;
}
footer section article ul {
  list-style-type: none;
  padding: 0;
}
footer section article ul li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer section article ul li a {
  color: #f4f4f4;
  text-decoration: none;
}
footer section article ul li p {
  margin: 0;
}
footer section article #bigIcon {
  font-size: 150px;
}
footer.lightfooter section {
  background-color: #f4f4f4;
  color: #000;
}
footer.lightfooter section article h2 {
  border-bottom: 2px solid #000;
}
footer.lightfooter section article a {
  color: #000;
}

header {
  width: 100%;
  height: 620px;
  background: url("../assets/header/matterhorn.jpg") center center/cover;
}
header nav {
  color: #f4f4f4;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
header nav h1 {
  margin: 0;
  font-size: 50px;
}
header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
header nav ul li a {
  font-size: 40px;
  font-weight: bold;
  display: block;
  color: #f4f4f4;
  text-decoration: none;
  padding: 20px;
}
header nav ul li a:hover {
  background: #f4f4f4;
  color: #000;
}
@media screen and (min-width: 1300px) {
  header {
    box-sizing: border-box;
    height: 200px;
    padding: 0 200px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  header nav {
    max-width: 1600px;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  header nav ul {
    padding: 0;
    max-width: 1000px;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
  }
  header nav ul li a#currentPage {
    background: #f4f4f4;
    color: #000;
  }
}/*# sourceMappingURL=stijl.css.map */