@use '../sass-utils/variable' as v;

body {
    background-color: #f4f4f4;
    font-family: sans-serif;
    padding: 0;
}

p, a {
    font-size: 20px;
}

img {
    border-radius: 2px;
}


h2 {
    font-size: 30px;
}


section {
    background-color: v.$primCol;
    color: v.$primTextcol;
    padding: 20px 200px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &:nth-of-type(even) {
        background-color: v.$secondCol;
        color: v.$secondTextCol;
    
        .activity {
            .activity_img {
                grid-area: 1 / 3 / 3 / 4;
            }
    
            .activity_descr {
                grid-column: 1 / 3;


                background-color: v.$primCol;
                color: v.$primTextcol;
            }
        }
    }


    @media screen and(max-width: 1500px) and (min-width: 740px){
        padding: 20px 100px;
    }

    @media screen and(max-width: 740px) {
        padding: 20px 30px;
    }
}

article {
    width: 100%;
    max-width: 1600px !important;
    font-size: 20px;
}