@use '../sass-utils/variable' as v;


form {
    input ,textarea {
        width: 95%;
        display: block;
    }

    input[type="radio"] {
        width: auto;
        display: inline;
        
        &#vrouw {
            margin-left: 20px;
        }
    }
}