@use '../sass-utils/variable' as v;

form {

    margin: auto;
    

    display: flex;
    flex-direction: column;
    justify-content: center;

    textarea {
        max-width: 100%;
        width: 100%;
    }
}