@use '../sass-utils/variable' as v;


form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left, .right {
        width: 50%;
    }

    textarea {
        max-width: 100%;
        width: 100%;
    }
}
